name: Close Stale Issues

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  close-stale-issues:
    runs-on: ubuntu-latest
    steps:
      - name: Close stale issues
        uses: actions/stale@v9
        with:
          days-before-stale: 5
          days-before-close: 2
          days-before-pr-stale: -1
          days-before-pr-close: -1
          close-issue-message: "This issue was closed because it has been inactive for 7 days."
